BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "63" ;
LOCATE COMP "speaker" SITE "28" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "speaker" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
