BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RESET" SITE "41" ;
LOCATE COMP "IN[3]" SITE "35" ;
LOCATE COMP "IN[2]" SITE "39" ;
LOCATE COMP "IN[1]" SITE "38" ;
IOBUF PORT "IN[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "IN[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "IN[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "IN[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RESET" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clck[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clck[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clck[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clck[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "CS[0]" SITE "21" ;
LOCATE COMP "CS[1]" SITE "24" ;
LOCATE COMP "CS[2]" SITE "25" ;
IOBUF PORT "CS[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CS[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CS[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "clck[0]" SITE "17" ;
LOCATE COMP "clck[1]" SITE "16" ;
LOCATE COMP "clck[2]" SITE "13" ;
LOCATE COMP "clck[3]" SITE "8" ;
LOCATE COMP "led[0]" SITE "7" ;
LOCATE COMP "led[1]" SITE "4" ;
LOCATE COMP "led[2]" SITE "2" ;
LOCATE COMP "led[3]" SITE "1" ;
LOCATE COMP "IN[0]" SITE "40" ;
