BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "27" ;
LOCATE COMP "clken" SITE "76" ;
IOBUF PORT "clken" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "vga_b[3]" SITE "54" ;
LOCATE COMP "vga_b[2]" SITE "53" ;
LOCATE COMP "vga_b[1]" SITE "52" ;
LOCATE COMP "vga_b[0]" SITE "51" ;
LOCATE COMP "vga_g[3]" SITE "66" ;
LOCATE COMP "vga_g[2]" SITE "62" ;
LOCATE COMP "vga_g[1]" SITE "58" ;
LOCATE COMP "vga_g[0]" SITE "57" ;
LOCATE COMP "vga_r[2]" SITE "87" ;
LOCATE COMP "vga_r[3]" SITE "81" ;
LOCATE COMP "vga_r[1]" SITE "88" ;
LOCATE COMP "vga_r[0]" SITE "98" ;
IOBUF PORT "vga_hs" BANK=0 IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
LOCATE COMP "vga_hs" SITE "99" ;
LOCATE COMP "vga_vs" SITE "77" ;
SYSCONFIG JTAG_PORT=ENABLE ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 SLEWRATE=NA ;
IOBUF PORT "vga_b[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_b[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_b[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_b[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_g[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_g[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_g[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_g[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_r[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_r[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_r[2]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_r[3]" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "vga_vs" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
