LOCATE COMP "ck" SITE "63" ;
LOCATE COMP "CS[0]" SITE "21" ;
LOCATE COMP "CS[1]" SITE "24" ;
LOCATE COMP "CS[2]" SITE "25" ;
IOBUF PORT "ck" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CS[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CS[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "CS[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "led[0]" SITE "1" ;
LOCATE COMP "led[1]" SITE "2" ;
LOCATE COMP "led[2]" SITE "4" ;
LOCATE COMP "led[4]" SITE "8" ;
LOCATE COMP "led[5]" SITE "13" ;
LOCATE COMP "led[6]" SITE "16" ;
LOCATE COMP "led[7]" SITE "17" ;
LOCATE COMP "led[3]" SITE "7" ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
