BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "ck" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "enable" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "CS[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "CS[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "CS[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "nSEG[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "ck" SITE "63" ;
LOCATE COMP "enable" SITE "35" ;
LOCATE COMP "rst" SITE "38" ;
LOCATE COMP "CS[0]" SITE "21" ;
LOCATE COMP "CS[1]" SITE "24" ;
LOCATE COMP "CS[2]" SITE "25" ;
LOCATE COMP "nSEG[0]" SITE "1" ;
LOCATE COMP "nSEG[1]" SITE "2" ;
LOCATE COMP "nSEG[2]" SITE "4" ;
LOCATE COMP "nSEG[3]" SITE "7" ;
LOCATE COMP "nSEG[4]" SITE "8" ;
LOCATE COMP "nSEG[5]" SITE "13" ;
LOCATE COMP "nSEG[6]" SITE "16" ;
LOCATE COMP "nSEG[7]" SITE "17" ;
