BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "63" ;
LOCATE COMP "quadA" SITE "27" ;
LOCATE COMP "quadB" SITE "31" ;
LOCATE COMP "vga_B" SITE "51" ;
LOCATE COMP "vga_G" SITE "52" ;
LOCATE COMP "vga_R" SITE "53" ;
LOCATE COMP "vga_h_sync" SITE "54" ;
LOCATE COMP "vga_v_sync" SITE "57" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "quadA" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "quadB" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=NA ;
IOBUF PORT "vga_B" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "vga_G" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "vga_R" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "vga_h_sync" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "vga_v_sync" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 ;
